.game-board {
  width: 200px;
  height: 200px;
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
}

.game-board .block {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  box-sizing: border-box;
}

.game-board.yellow {
  background-color: yellow;
}
